.boton-enviar {
    width: 100%;
    padding: 15px;
    background-color: #6d071a;
    border: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.2s, opacity 0.2s;
    margin-top: 4px;
    border-radius: 5px;
}

.reserva-cancelada-bloque {
    background-color: #ffffff;
    box-shadow: 0 2px 20px rgba(0,0,0,0.07);
    border-radius: 12px;
    max-width: 600px;
    margin: 70px auto;
    padding: 30px 60px;
}


.titulo{
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 50px;
}

.subtitulo{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}