{% extends "admin/base_admin.html" %}

{% block admin_content %}
<h1 class="seccion">Gestion de Reservas</h1>
<div class="caja-platos">
    {% for reserva in Reservas %}
    <div class="caja-plato-ind">
        <div class="texto-caja-ind">
            <h2>{{ reserva.fecha }}</h2>
            <p>"{{ reserva.hora}}"</p>
            <p>"{{ reserva.cant_personas}}"</p>
            <p><strong>Puntuacion:</strong> {{ reserva.puntuacion }} estrellas</p>
            <div class="precio-caja">
                <form action="{{ url_for('Backend.borrar_reserva', id=reserva.id_reserva) }}" method="POST">
                    <button type="submit"
                        class="btn-eliminar"
                        onclick="return confirm('¿Estás seguro de que deseas eliminar esta reserva?')">
                        Eliminar
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% else %}
    <p>No hay reservas realizadas todavía</p>
    {% endfor %}

</div>
{% endblock %}