{% extends "admin/base_admin.html" %}

{% block title %}Admin - Altezza{% endblock %}

{% block estilos %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/admin.css')}}">
{% endblock %}

{% block admin_content %}
<div class="dashboard-container">
  <h1 class="titulo-seccion">Tablero de Control</h1>
  <p class="subtitulo">Bienvenido al panel de administración de Altezza Ristorante. Selecciona una opción del menú para
    comenzar.</p>

  <section class="accesos-section">
    <h2 class="seccion-subtitulo">Accesos Rápidos</h2>

    <div class="grid-tarjetas">
      <a href="{{ url_for('frontend.admin_menu') }}" class="enlace-tarjeta">
        <div class="tarjeta-acceso">
          <div class="tarjeta-icono">🍽️</div>
          <h3>Gestionar Menú</h3>
          <p>Cambia platos, edita precios y actualiza las categorías disponibles.</p>
        </div>
      </a>

      <div class="tarjeta-acceso">
        <a href="{{ url_for('frontend.admin_reservas') }}" class="enlace-tarjeta">
          <div class="tarjeta-icono">📅</div>
          <h3>Gestionar Reservas</h3>
          <p>Revisa, confirma o elimina las reservas de mesas de los clientes.</p>
        </a>
      </div>


      <div class="tarjeta-acceso">
        <a href="{{ url_for('frontend.admin_resenas') }}" class="enlace-reseñas">
          <div class="tarjeta-icono">⭐</div>
          <h3>Gestionar Reseñas</h3>
          <p>Revisa los comentarios y opiniones sobre la experiencia en el restaurante.</p>
        </a>
      </div>

      <div class="tarjeta-acceso">
        <a href="{{ url_for('frontend.admin_stats') }}" class="enlace-stats">
          <div class="tarjeta-icono">📊</div>
          <h3>Ver Estadísticas</h3>
          <p>Analiza los gráficos de rendimiento y las estadísticas de ventas.</p>
        </a>
      </div>
    </div>
  </section>
</div>
{% endblock %}