<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Altezza{% endblock %}</title>
	<link rel="stylesheet" href="../static/styles/base.css">
	<link rel="shortcut icon" href="../static/images/icon.png" type="icon">
</head>

<body>
	<footer id="contacto">
    <div class="footer-caja-grande">
        <div class="footer-caja-chica">
            <h2 class="titulo-footer">Altezza</h2>
            <p>Pasión por la cocina italiana auténtica. <br> Te esperamos para vivir una velada inolvidable.</p>
        </div>
		
        <div class="footer-caja-chica">
			<h4>Horarios</h4>
            <p>Jue - Dom: 19:00 a 00:00</p>
            <p>Dom: 12:30 a 16:00</p>
        </div>
		<div class="footer-caja-chica">
			<h4>Contacto</h4>
			<a href="tel:+541159596780">✆ +54 11 5959-6780</a>
			<a href="mailto:reservas@altezza.com">✉ reservas@altezza.com</a>
			<address>📍 Calle Factos 1133, BA</address>
		</div>
	</div>

    <div class="copyright">
        <p>&copy; 2026 Altezza Ristorante</p>
    </div>
</footer>
</body>
</html>