{% extends "base.html" %}

{% block estilos %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/base_admin.css')}}">
{% endblock %}

{% block content %}
<div class="contenedor-total-admin">
    <div class="barra-lateral">
        <h2 class="titulo-menu">Menú Admin</h2>
        <nav class="navegacion-admin">
            <ul>
                <li><a href="{{ url_for('rutas_prefijo_api.admin_reservas') }}" class="enlace-reservas">Gestionar Reservas</a></li>
                <li><a href="{{ url_for('rutas_prefijo_api.admin_menu') }}" class="enlace-menu">Gestionar Menú</a></li>
                <li><a href="{{ url_for('rutas_prefijo_api.admin_resenas') }}" class="enlace-reseñas">Gestionar Reseñas</a></li>
                <li><a href="{{ url_for('rutas_prefijo_api.admin_stats') }}" class="enlace-stats">Ver Estadisticas</a></li>
            </ul>
        </nav>
      </div>

    <main class="area-principal">
        {% block admin_content %}{% endblock %}
    </main>
</div>
{% endblock %}