{% extends "base.html" %}

{% block title %}Contactanos - Altezza Ristorante{% endblock %}

{% block estilos %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/contacto.css')}}">
{% endblock %}

{% block content %}
<div class="caja-total-contacto">
  <div class="imagen-fondo">
    <img src="{{ url_for('static', filename='images/wpp-contact.png')}}">
  </div>
  <div class="caja-informacion">
    <h1>Contáctanos</h1>
    <div class="items-contacto">
      <p>Dirección: Av.Del Libertador 6820 (CABA)</p>
      <p>Teléfono: +(54) 11 5959-6780</p>
      <p>E-mail: altezzaadmin@gmail.com</p>
      <p>Horarios: Jue - Dom: 19:00 a 00:00</p>
    </div>
    <div class="caja-mapa">
      <h2>Encontranos acá</h2>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.1646496602148!2d-58.45696982350558!3d-34.54938635463205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb42f9de50bf9%3A0x6e8cd03a084b9bbe!2sAv.%20del%20Libertador%206820%2C%20C1429%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1779631305335!5m2!1ses!2sar"></iframe>  
    </div>
  </div>

  <div class="caja-mensaje">
    <h2 class="caja-titulo">Mandanos un mensaje</h2>
    {% if error %}
      <div class="mensaje-error">{{ error }}</div>
    {% endif %}
    {% if exito %}
      <div class="mensaje-exito">{{ exito }}</div>
    {% endif %}
    <form action="{{ url_for('contacto.contactanos') }}" method="POST" class="form">
      <div class="form-mensaje">
        <label for="nombre">Nombre y apellido:</label>
        <input type="text" id="nombre" name="fnombre" placeholder="nombre" required>
        <label for="e-mail">E-mail:</label>
        <input type="text" id="e-mail" name="femail" placeholder="e-mail" required>
        <label for="mensaje">Mensaje:</label>
        <textarea id="mensaje" name="fmensaje" placeholder="mensaje" required></textarea>
        <p id="contador">0/500</p>
        </br>
        <button type="submit" id="boton-enviar">Enviar Mensaje</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/contacto.js') }}"></script>
{% endblock %}


