{% extends "base.html" %}

{% block title %}Menu{% endblock %}

{% block estilos %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/menu.css')}}">
{% endblock %}


{% block content %}
<div class="main">
    <h1>NUESTRA CARTA</h1>
    <div id="box-nav-menu">
      <nav>
        <a class="nav-menu" href="#pastas">Principales</a>
        <a class="nav-menu" href="#bebidas">Bebidas</a>
        <a class="nav-menu" href="#postre">Postres</a>
      </nav>
    </div>

    <div id="pastas">
      <h2 class="seccion">Nuestras Pastas:</h2>
      <div class="caja-platos">
        {% for plato in platos %}
            {% if plato.seccion == 'Platos Principales' %}
            <div class="caja-plato-ind">
                <div>
                    <img class="img-platos" src="{{ url_for('static', filename='images/platos/'+ plato.imagen)}}">
                </div>

                <div class="texto-caja-ind">
                    <h2>{{ plato.nombre_plato }}</h2>
                    <p>{{ plato.desc_plato }}</p>

                    <div class="restriccion-caja">
                        <p>{{ plato.restricciones }}</p>
                    </div>

                    <div class ="precio-caja">
                        <span>{{ plato.precio }}$</span>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        </div>

    <div id="bebidas">
        <h2 class="seccion">Bebidas</h2>
        <div class="box-lista-b">
              {% for plato in platos %}
                    {% if plato.seccion == 'Bebidas' %}
                      <div class="contenido-lista">
                        <ul class="lista">
                          <li>{{ plato.nombre_plato }}</li>
                          <li class="texto-bebida">{{ plato.desc_plato }}</li>
                          <li class="texto-bebida">{{ plato.restricciones }}</li>
                          <li id="precio"><span>{{ plato.precio }}$</span></li>
                        </ul>
                      </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>         
    </div>

    <div id="postre">
      <h2 class="seccion">Postres:</h2>
        <div class="caja-platos">
            {% for plato in platos %}
                {% if plato.seccion == 'Postres' %}
                    <div class="caja-plato-ind">
                        <div>
                            <img class="img-platos" src="{{ url_for('static', filename='images/platos/' + plato.imagen)}}">
                        </div>
                            <div class="texto-caja-ind">
                                <h2>{{ plato.nombre_plato }}</h2>
                                <p>{{ plato.desc_plato }}</p>

                                <div class="restriccion-caja">
                                    <p>{{ plato.restricciones }}</p>
                                </div>

                                <div class="precio-caja">
                                    <span>${{ plato.precio }}</span>
                                </div>
                            </div>
                    </div>
                {% endif %}
            {% endfor %} 
        </div>
    </div>
</div>
{% endblock %}