{% extends "base.html" %}

{% block title %}Menu{% endblock %}

{% block estilos %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/menu.css')}}">
{% endblock %}


{% block content %}
  <div class="main">
    <h1>NUESTRA CARTA</h1>
    <div id="box-nav-menu">
      <nav>
        <a class="nav-menu" href="#entrada">Entrada</a>
        <a class="nav-menu" href="#principal">Principal</a>
        <a class="nav-menu" href="#bebida">Bebida</a>
        <a class="nav-menu" href="#postre">Postre</a>
      </nav>
    </div>

    <div id="entrada">
      <h2 class="seccion">Entrada:</h2>
      <div class="caja-platos">
        <div class="caja-plato-ind">
          <div>
            <img class="img-platos" src="{{ url_for('static', filename='images/platos/platoTest.png')}}">
          </div>
          <div class="texto-caja-ind">
            <h2>Pollo con verduras</h2>
            <p>Pechuga de pollo con verduras salteadas</p>
            <div class="precio-caja">
              <span>$20000</span>
            </div>
          </div>
        </div>

        <div class="caja-plato-ind">
          <div>
            <img class="img-platos" src="{{ url_for('static', filename='images/platos/platoTest.png')}}">
          </div>
          <div class="texto-caja-ind">
            <h2>Pollo con verduras</h2>
            <p>Pechuga de pollo con verduras salteadas</p>
            <div class="precio-caja">
              <span>$20000</span>
            </div>
          </div>
        </div>

        <div class="caja-plato-ind">
          <div>
            <img class="img-platos" src="{{ url_for('static', filename='images/platos/platoTest.png')}}">
          </div>
          <div class="texto-caja-ind">
            <h2>Pollo con verduras</h2>
            <p>Pechuga de pollo con verduras salteadas</p>
            <div class="precio-caja">
              <span>$20000</span>
            </div>
          </div>
        </div>

        <div class="caja-plato-ind">
          <div>
            <img class="img-platos" src="{{ url_for('static', filename='images/platos/platoTest.png')}}">
          </div>
          <div class="texto-caja-ind">
            <h2>Pollo con verduras</h2>
            <p>Pechuga de pollo con verduras salteadas</p>
            <div class="precio-caja">
              <span>$20000</span>
            </div>
          </div>
        </div>

        <div class="caja-plato-ind">
          <div>
            <img class="img-platos" src="{{ url_for('static', filename='images/platos/platoTest.png')}}">
          </div>
          <div class="texto-caja-ind">
            <h2>Pollo con verduras</h2>
            <p>Pechuga de pollo con verduras salteadas</p>
            <div class="precio-caja">
              <span>$20000</span>
            </div>
          </div>
        </div>

        <div class="caja-plato-ind">
          <div>
            <img class="img-platos" src="{{ url_for('static', filename='images/platos/platoTest.png')}}">
          </div>
          <div class="texto-caja-ind">
            <h2>Pollo con verduras</h2>
            <p>Pechuga de pollo con verduras salteadas</p>
            <div class="precio-caja">
              <span>$20000</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="principal">
      <h2 class="seccion">Principal:</h2>
      <div class="caja-platos">
        <div class="caja-plato-ind">
          <div>
            <img class="img-platos" src="{{ url_for('static', filename='images/platos/platoTest.png')}}">
          </div>
          <div class="texto-caja-ind">
            <h2>Pollo con verduras</h2>
            <p>Pechuga de pollo con verduras salteadas</p>
            <div class="precio-caja">
              <span>$20000</span>
            </div>
          </div>
        </div>

        <div class="caja-plato-ind">
          <div>
            <img class="img-platos" src="{{ url_for('static', filename='images/platos/platoTest.png')}}">
          </div>
          <div class="texto-caja-ind">
            <h2>Pollo con verduras</h2>
            <p>Pechuga de pollo con verduras salteadas</p>
            <div class="precio-caja">
              <span>$20000</span>
            </div>
          </div>
        </div>

        <div class="caja-plato-ind">
          <div>
            <img class="img-platos" src="{{ url_for('static', filename='images/platos/platoTest.png')}}">
          </div>
          <div class="texto-caja-ind">
            <h2>Pollo con verduras</h2>
            <p>Pechuga de pollo con verduras salteadas</p>
            <div class="precio-caja">
              <span>$20000</span>
            </div>
          </div>
        </div>

        <div class="caja-plato-ind">
          <div>
            <img class="img-platos" src="{{ url_for('static', filename='images/platos/platoTest.png')}}">
          </div>
          <div class="texto-caja-ind">
            <h2>Pollo con verduras</h2>
            <p>Pechuga de pollo con verduras salteadas</p>
            <div class="precio-caja">
              <span>$20000</span>
            </div>
          </div>
        </div>

        <div class="caja-plato-ind">
          <div>
            <img class="img-platos" src="{{ url_for('static', filename='images/platos/platoTest.png')}}">
          </div>
          <div class="texto-caja-ind">
            <h2>Pollo con verduras</h2>
            <p>Pechuga de pollo con verduras salteadas</p>
            <div class="precio-caja">
              <span>$20000</span>
            </div>
          </div>
        </div>

        <div class="caja-plato-ind">
          <div>
            <img class="img-platos" src="{{ url_for('static', filename='images/platos/platoTest.png')}}">
          </div>
          <div class="texto-caja-ind">
            <h2>Pollo con verduras</h2>
            <p>Pechuga de pollo con verduras salteadas</p>
            <div class="precio-caja">
              <span>$20000</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="bebida">
      <h2 class="seccion">Bebida:</h2>
      <div class="caja-platos">
        <div class="caja-plato-ind">
          <div>
            <img class="img-platos" src="{{ url_for('static', filename='images/platos/platoTest.png')}}">
          </div>
          <div class="texto-caja-ind">
            <h2>Pollo con verduras</h2>
            <p>Pechuga de pollo con verduras salteadas</p>
            <div class="precio-caja">
              <span>$20000</span>
            </div>
          </div>
        </div>

        <div class="caja-plato-ind">
          <div>
            <img class="img-platos" src="{{ url_for('static', filename='images/platos/platoTest.png')}}">
          </div>
          <div class="texto-caja-ind">
            <h2>Pollo con verduras</h2>
            <p>Pechuga de pollo con verduras salteadas</p>
            <div class="precio-caja">
              <span>$20000</span>
            </div>
          </div>
        </div>

        <div class="caja-plato-ind">
          <div>
            <img class="img-platos" src="{{ url_for('static', filename='images/platos/platoTest.png')}}">
          </div>
          <div class="texto-caja-ind">
            <h2>Pollo con verduras</h2>
            <p>Pechuga de pollo con verduras salteadas</p>
            <div class="precio-caja">
              <span>$20000</span>
            </div>
          </div>
        </div>

        <div class="caja-plato-ind">
          <div>
            <img class="img-platos" src="{{ url_for('static', filename='images/platos/platoTest.png')}}">
          </div>
          <div class="texto-caja-ind">
            <h2>Pollo con verduras</h2>
            <p>Pechuga de pollo con verduras salteadas</p>
            <div class="precio-caja">
              <span>$20000</span>
            </div>
          </div>
        </div>

        <div class="caja-plato-ind">
          <div>
            <img class="img-platos" src="{{ url_for('static', filename='images/platos/platoTest.png')}}">
          </div>
          <div class="texto-caja-ind">
            <h2>Pollo con verduras</h2>
            <p>Pechuga de pollo con verduras salteadas</p>
            <div class="precio-caja">
              <span>$20000</span>
            </div>
          </div>
        </div>

        <div class="caja-plato-ind">
          <div>
            <img class="img-platos" src="{{ url_for('static', filename='images/platos/platoTest.png')}}">
          </div>
          <div class="texto-caja-ind">
            <h2>Pollo con verduras</h2>
            <p>Pechuga de pollo con verduras salteadas</p>
            <div class="precio-caja">
              <span>$20000</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="postre">
      <h2 class="seccion">Postre:</h2>
      <div class="caja-platos">
        <div class="caja-plato-ind">
          <div>
            <img class="img-platos" src="{{ url_for('static', filename='images/platos/platoTest.png')}}">
          </div>
          <div class="texto-caja-ind">
            <h2>Pollo con verduras</h2>
            <p>Pechuga de pollo con verduras salteadas</p>
            <div class="precio-caja">
              <span>$20000</span>
            </div>
          </div>
        </div>

        <div class="caja-plato-ind">
          <div>
            <img class="img-platos" src="{{ url_for('static', filename='images/platos/platoTest.png')}}">
          </div>
          <div class="texto-caja-ind">
            <h2>Pollo con verduras</h2>
            <p>Pechuga de pollo con verduras salteadas</p>
            <div class="precio-caja">
              <span>$20000</span>
            </div>
          </div>
        </div>

        <div class="caja-plato-ind">
          <div>
            <img class="img-platos" src="{{ url_for('static', filename='images/platos/platoTest.png')}}">
          </div>
          <div class="texto-caja-ind">
            <h2>Pollo con verduras</h2>
            <p>Pechuga de pollo con verduras salteadas</p>
            <div class="precio-caja">
              <span>$20000</span>
            </div>
          </div>
        </div>

        <div class="caja-plato-ind">
          <div>
            <img class="img-platos" src="{{ url_for('static', filename='images/platos/platoTest.png')}}">
          </div>
          <div class="texto-caja-ind">
            <h2>Pollo con verduras</h2>
            <p>Pechuga de pollo con verduras salteadas</p>
            <div class="precio-caja">
              <span>$20000</span>
            </div>
          </div>
        </div>

        <div class="caja-plato-ind">
          <div>
            <img class="img-platos" src="{{ url_for('static', filename='images/platos/platoTest.png')}}">
          </div>
          <div class="texto-caja-ind">
            <h2>Pollo con verduras</h2>
            <p>Pechuga de pollo con verduras salteadas</p>
            <div class="precio-caja">
              <span>$20000</span>
            </div>
          </div>
        </div>

        <div class="caja-plato-ind">
          <div>
            <img class="img-platos" src="{{ url_for('static', filename='images/platos/platoTest.png')}}">
          </div>
          <div class="texto-caja-ind">
            <h2>Pollo con verduras</h2>
            <p>Pechuga de pollo con verduras salteadas</p>
            <div class="precio-caja">
              <span>$20000</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}