{% extends "base.html" %}

{% block title %}Menu{% endblock %}

{% block estilos %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/menu.css')}}">
{% endblock %}


{% block content %}
  <div class="main">
    <h1>ESTE ES NUESTRO MENU:</h1>

    <div class="caja-platos">
      <div class="caja-plato-ind">
        <div>
          <img class="img-platos" src="{{ url_for('static', filename='images/platoTest.png')}}">
        </div>
        <div class="texto-caja-ind">
          <h2>Pollo con verduras</h2>
          <p>Pechuga de pollo con verduras salteadas</p>
          <div class="precio-caja">
            <span>$20000</span>
          </div>
        </div>
      </div>

      <div class="caja-plato-ind">
        <div>
          <img class="img-platos" src="{{ url_for('static', filename='images/platoTest.png')}}">
        </div>
        <div class="texto-caja-ind">
          <h2>Pollo con verduras</h2>
          <p>Pechuga de pollo con verduras salteadas</p>
          <div class="precio-caja">
            <span>$20000</span>
          </div>
        </div>
      </div>

      <div class="caja-plato-ind">
        <div>
          <img class="img-platos" src="{{ url_for('static', filename='images/platoTest.png')}}">
        </div>
        <div class="texto-caja-ind">
          <h2>Pollo con verduras</h2>
          <p>Pechuga de pollo con verduras salteadas</p>
          <div class="precio-caja">
            <span>$20000</span>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}